* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}



.navbar {
    background: #37517e;


    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;

}

.logo {
    font-size: 30px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: -2px;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: #fff;
}


.navbar-expand-lg .navbar-nav .nav-link:hover{
   color: #47b2e4;
}

.navbar-expand-lg .navbar-nav .nav-link {
    /* padding-right: 18px; */
    color: #fff;





    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    white-space: nowrap;
    transition: 0.3s;

}

.btn_0 {
    margin-left: 23px;
    padding: 8px 20px;

    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;

}

.btn_0:hover {
    color: #fff;
    background: #31a9e1;
    border-color: #47b2e4;
}

/* banner start */
#banner {
    background: #37517e;
    width: 100%;
    min-height: 80vh;

}

#banner .img-fluid {
    max-width: 100%;
    height: auto;



}




#banner .img-fluid .animated:hover {

    animation: up-down 2s ease-in-out infinite alternate-reverse both;

}

.left-side h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;

}

#banner .container {
    padding-top: 70px;
}

.left-side .pera {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
    font-size: 24px;
}

.btn_1 {


    display: inline-block;

    padding: 10px 28px 11px 28px;
    border-radius: 50px;
 
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
    text-decoration: none;
    margin-top: -14px;
    color: #fff !important;
    background: #47b2e4;


}

.btn_1:hover {
    background-color: #209dd8;
}




.btn-outline-primary {
	
	 --bs-btn-active-bg:  #209dd8; 
	 --bs-btn-active-border-color:  #209dd8; 
	
}


.btn_2 {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;


}

.btn_2 i {
    font-size: 32px;
    color: #fff;
    margin-right: 5px;
    margin-left: 18px;
}

/* banner end */

/* sponsor section start */
#sponser {
    background: #f3f5fa;
    padding-top: 15px;
    padding-bottom: 15px;
}

#sponser img {
    width: 80px;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    filter: grayscale(100%);
    margin-left: 51px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sponser img:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
}

/* sponsor section end*/

/* About section start */

#about {
    padding: 60px;
}

#about h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;

}

#about p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;

}

.list_item {
    list-style: none;
    font-size: 16px;

}

.bs-icon {

    position: absolute;
    left: 76px;
    top: -2;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
}

.divider {
    background-color: rgb(201, 201, 201);
    width: 130px;
    height: 1px;
    margin: 20px auto;
}

.divider::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #007aff;
    top: -15px;
    left: 50px;
}

.btn_3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}

.btn_3:hover {
    color: #fff;
    background: #47b2e4;
    border-color: #47b2e4;
}

/* About section end */

#accordion {
    background-color: #f3f5fa;
    padding: 60px 0;
    overflow: hidden;
}

.text-1 {
    font-weight: 800px;
    font-weight: bolder;
}

.building-img {
    width: 100%;
}

.col-lg-6 h2 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}

.col-lg-6 p {


    font-size: 15px;
    color: #848484;
}

.list-one {

    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;

}


/* Accordion section end */

.tatem {
    width: 100%;

}



.progress,
.progress-stacked {
    border-radius: 0%;

    transition: 0.9s;
    color: #4668a2 !important;
}

.font_1 {
    font-weight: 700 !important;
    font-size: 32px;
    color: #37517e;
    font-family: "Poppins", sans-serif;
}

.pippi {

    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e !important;
}

.italic {
    font-style: italic;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    /* margin-top: 11px; */
    padding: 0;
    /* margin: 0 0 6px 0; */
    text-transform: uppercase;

    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #37517e;
}

.percenttage {
    height: 60px;
    display: block;

    border-radius: none;

    transition: 0.9s;



}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #37517e !important;
}

.bg-success {

    color: #47b2e4;
}

/* Voluptatem secton end */

/* services section start  */
.sint {
    font-family: "Open Sans", sans-serif !important;
    color: #444444;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;


}

.my-icon {

    color: #47b2e4;
    font-size: 36px;
    transition: 0.3s;
    margin-bottom: 20px;
}

.icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 46px 28px;
    transition: all ease-in-out 0.4s;
    background: #fff;
    align-items: stretch;
    transition: .3s all ease;
    border: 4px solid transparent;

    width: 23%;
    margin: 11px;
}

.icon-box:hover {
    transform: translateY(-10px);
    transition: 0.4s;
}

.icon-box h2 {
    color: #37517e;
    transition: ease-in-out 0.3s;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 21px;
    margin-top: 10px;
}

.icon-box h2:hover{
    color: #47b2e4
}

.icon-box p {
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 0;
}

/* #services .container{
    background: #31a9e1;
} */

#services {
    padding: 60px 40px;
    /* overflow: hidden; */
    background-color: #f3f5fa;

}

#services h6 {
    font-family: "Jost", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    position: relative;
    color: #37517e;

}





/* services section end  */

/* Action section Start */

.cta {
	background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../img/pexels-negative-space-34088.jpg") fixed center center;
	background-size: cover;
	padding: 120px 0;
}


.cta .cta-btn {
	font-family: "Jost", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 40px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: #fff;
    text-decoration: none;
}

.cta .cta-btn:hover {
	background: #47b2e4;
	border: 2px solid #47b2e4;
}

.cta h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
    margin-bottom: 20px;
}

.cta p{
    color: #fff;
    font-size: 17px;
}

/* Action section end*/


/* portfolio section start */

/* portfolio section end */



/* Team section start */

#team h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    /* padding-bottom: 20px; */
    position: relative;
    color: #37517e;
}


.fluat {
    /* max-width: 100%; */
    width: 150px;
    height: 150px;
    vertical-align: middle;
    border-radius: 50%;

}

.faka {
    width: 20%;
    height: 1px;
    color: #dfdada;
    border: 1px solid;
    margin-bottom: 10px;
    margin-left: 15px;
}

.social-icon i {

    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */

    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    /* padding: 8px; */
    margin-left: 13px;
    margin-top: 8px;


}


.info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
    margin-left: 15px;
}

.info span {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    margin-left: 15px;
}

.info p {
    margin: 10px 0 0 0;
    font-size: 18px;
    margin-left: 15px;

}


#team .container {
    padding: 24px 0px;
}

#team {

    padding-top: 1px;


    background-color: #f3f5fa;
}


.content-all {
    display: inline-flex;
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;

    width: 48%;
    margin: 11px;
    margin-left: 12px;



}

.content-all:hover {
    transform: translateY(-10px);
}


/* Team section end*/

/* 
<!-- Pricing section start */
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-bottom: 20px;
padding-bottom: 20px; */
    margin-top: 20px;
    position: relative;
    color: #37517e;
}

.section-title p {
    text-align: center;
}

#pricing .row {
    padding-top: 50px;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

}

.box li {
    list-style: none;
}


#pricing ul i {
    color: #28a745;
    font-size: 17px;
    position: absolute;
    left: -27px;
    top: 13px;
}





.box h3,
h4 {
    margin-left: 6px;

}

#pricing .featured {
    border-top-color: #47b2e4;
}

.buy-btn {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
    text-decoration: none;
    margin-left: 6px;
}

.buy-btn:hover {
    background: #47b2e4;
    color: #fff;
}

.featured .buy-btn {
    background: #47b2e4;
    color: #fff;
}

.box h3 {
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
    line-height: 1.2;


}

.box h4 {
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}

.box h4 span {
    color: #47b2e4;
    font-size: 18px;
    display: block;
}

.box {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    height: 100%;
    border-top: 4px solid #fff;
    border-radius: 5px;
}

#pricing {
    padding: 60px 0;
    overflow: hidden;
}

#pricing ul li {
    padding: 10px 0 10px 0px;
    position: relative;
}

#pricing ul {
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
}


/* Pricing section end */

/* Faq section start */
.section-bg {
    background-color: #f3f5fa;
}



/* 
#accordion{
    padding: 100px 0px;
     background: rgb(96, 66, 66);
} */

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 0;

}

.accordion-button.collapsed {
    /* color: #47b2e4; */
    background-color: white;
    transition: 0.3s;

}

.accordion-item {

    /* display: block;
    position: relative; */
    /* font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px; */

    cursor: pointer;


    transition: 0.3s;
}


.accordion {

    --bs-accordion-active-bg: #fff;
}

.q-icon {
    margin-right: 10px;
}

.accordion-button.collapsed:hover {
    color: #47b2e4 !important;

}

.acc-text {
    color: #37517e;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 7px;
    font-weight: 500;
    transition: 0.4s;

    cursor: pointer;
}

.acc-text:hover {

    color: #47b2e4
}

.accordion-body {
    padding-top: 3px;

}

.accordion-button:focus {
    z-index: 3;
    border-color: white;
    outline: 0;
    box-shadow: none;
    color: #47b2e4 !important;
}


.asked {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 20px;
    position: relative;
    color: #37517e;
}


/* Faq section end */

/* Contact section start */

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
    text-align: center;
}

.section-title p {
    font-size: 18px;
}

.p-text {
    font-family: sans-serif;
}

.contact .info {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;

}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input {
    height: 44px;
}


.align-items-stretch {
    align-items: stretch !important;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -5px;
    color: #37517e;
    margin-left: 5px;
}



.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
    margin-left: 5px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #47b2e4;
    color: #fff;
}


.contact .php-email-form {
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}


.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form button[type="submit"] {
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

/* Conyact Section end */


/* Portfolio section start */

.my-5 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.py-5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}


.section-heading{
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 50px;
	padding-bottom: 15px;
	position: relative;
	color: #37517e;
	text-align: center;
}

.text-center {
	text-align: center !important;
}

.mb-5 {
	margin-bottom: 3rem !important;
}

.portfolio-filter {
	position: relative !important;
}

.justify-content-center {
	justify-content: center !important;
}

.d-flex {
	display: flex !important;
}

.tab-content > .active {
	display: block;
}


.portfolio-filter {
    position: relative !important;
  }
  
  .img-hover {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
  
    &:hover {
      opacity: 1;
    }
  }
  
  .img-hover>.hover-text-1>h5 {
    margin: 0px !important;
  }
  
  .portfolio-rating {
    color: gold !important;
    font-size: 14px !important;
  }
  
  .nav-pills .nav-link.active {
    background-color: transparent !important;
  }
  
/* Portfolio section end */

/* Footer sectio start */

#footer {
    font-size: 14px;
    background: #37517e;

}




#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer {
    font-size: 14px;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}


#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #209dd8;
}

#footer .footer-newsletter form {
    text-align: left;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .copyright {
    float: left;
}

b,
strong {
    font-weight: bolder;
}

#footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
    margin-bottom: 21px;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
    margin-left: 2px;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    margin-left: 2px;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 14px !important;
    line-height: 1;
    margin-left: -5px;
}



a {
    color: #47b2e4;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #6c757d;
    transform: translateY(-10px);
    transition: 0.4s;


}


#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}



#footer .footer-top .footer-links ul {
    list-style: none;
    margin-left: -20px;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .credits {
    float: right;
    font-size: 13px;
}

#footer .credits a {
    transition: 0.3s;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

#footer .footer-bottom {
    color: #fff;

}


.container .footer-bottom .clearfix{
    padding-bottom: 0;
    
}

/* Footer section end */

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #47b2e4;
	font-size: 11px !important;
	line-height: 1;
	margin-left: -5px;
  
}


.accordion-item{
    margin-bottom: 20px!important;
}